Repository Korko/SecretSanta.fr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: js-cs, sass-cs, php-cs, phpunit

.gitlab-ci.yml:

image: lorisleiva/laravel-docker:latest

.before_script_npm:
  before_script:
    - npm install

js-cs:
  extends: .before_script_npm
  stage: test
  script:
    - npm run lint:js
  rules:
    - changes:
      - "resources/js/**/*"
  allow_failure: true

sass-cs:
  extends: .before_script_npm
  stage: test
  script:
    - npm run lint:css
  rules:
    - changes:
      - "resources/sass/**/*"
  allow_failure: true

.before_script_composer:
  rules:
    - changes:
      - "**/*.php"
  before_script:
    - apk add --no-cache imap-dev krb5-dev openssl-dev
    - PHP_OPENSSL=yes docker-php-ext-configure imap --with-kerberos --with-imap-ssl
    - docker-php-ext-install imap
    - composer install --prefer-dist --no-ansi --no-interaction --no-progress --no-scripts

php-cs:
  extends: .before_script_composer
  stage: test
  script:
    - composer check-style
  allow_failure: true

phpunit:
  extends: .before_script_composer
  stage: test
  script:
    - cp .env.example .env
    - php artisan key:generate
    - php artisan test

Fixed exclusions Yet I can't seem to update participant component exclusions after the parent handled the event about the update
  package-lock.json
  package.json
  public/js/randomForm.js
  public/js/vendor.js
  resources/js/components/participant.vue
  resources/js/components/randomForm.vue
  resources/js/partials/store.js
  resources/views/randomForm.blade.php
Due: js-cs, php-cs, phpunit

Fix Remove button
  public/js/randomForm.js
  resources/js/components/participant.vue
Due: js-cs

Add transition group
  public/js/randomForm.js
  resources/js/components/randomForm.vue
Due: js-cs

Add onlick on mail content tips, try to fix fonts and fix main form double submit button
  public/css/dearSanta.css
  public/css/organizer.css
  public/css/randomForm.css
  public/fonts/AnnieUseYourTelescope-Regular.ttf
  public/fonts/Exo2-VariableFont_wght.ttf
  public/fonts/Kreon-VariableFont_wght.ttf
  public/js/dearSanta.js
  public/js/randomForm.js
  public/js/vendor.js
  resources/fonts/AnnieUseYourTelescope-Regular.ttf
  resources/fonts/Exo2-VariableFont_wght.ttf
  resources/fonts/Kreon-VariableFont_wght.ttf
  resources/js/components/ajaxForm.vue
  resources/js/components/dearSantaForm.vue
  resources/js/components/randomForm.vue
  resources/lang/fr/form.php
  resources/sass/layout.scss
  resources/views/emails/dearsanta.blade.php
  resources/views/emails/layout.blade.php
  webpack.mix.js
Due: js-cs, sass-cs, php-cs, phpunit

Fix tiny style glitches with multiselect component
  public/css/randomForm.css
  resources/sass/randomForm.scss
Due: sass-cs

Remove fonts
  public/fonts/AnnieUseYourTelescope-Regular.ttf
  public/fonts/Exo2-VariableFont_wght.ttf
  resources/fonts/AnnieUseYourTelescope-Regular.ttf
  resources/fonts/Exo2-VariableFont_wght.ttf
Due: none

Fix success method called event if not exists
  app/Mail/Mailable.php
Due: php-cs, phpunit

Change expiration date format in OrganizerRecap
  app/Mail/OrganizerRecap.php
Due: php-cs, phpunit

Fix CSV import, reactivity and stuff
  public/css/randomForm.css
  public/images/vendor/jquery-ui/themes/base/ui-icons_444444_256x240.png
  public/images/vendor/jquery-ui/themes/base/ui-icons_555555_256x240.png
  public/images/vendor/jquery-ui/themes/base/ui-icons_777620_256x240.png
  public/images/vendor/jquery-ui/themes/base/ui-icons_777777_256x240.png
  public/images/vendor/jquery-ui/themes/base/ui-icons_cc0000_256x240.png
  public/images/vendor/jquery-ui/themes/base/ui-icons_ffffff_256x240.png
  public/js/common.js
  public/js/randomForm.js
  public/js/vendor.js
  resources/js/common.js
  resources/js/components/ajaxForm.vue
  resources/js/components/csv.vue
  resources/js/components/participant.vue
  resources/js/components/randomForm.vue
  resources/sass/randomForm.scss
  resources/views/emails/organizer_recap.blade.php
Due: js-cs, sass-cs, php-cs, phpunit

Fix cards and modernizr
  .modernizrrc
  package-lock.json
  package.json
  public/css/dearSanta.css
  public/css/organizer.css
  public/css/randomForm.css
  public/js/common.js
  public/js/dearSanta.js
  public/js/organizer.js
  public/js/randomForm.js
  public/js/vendor.js
  resources/js/components/randomForm.vue
  resources/js/partials/modernizr.js
  resources/lang/fr/form.php
  resources/sass/layout.scss
  resources/views/randomForm.blade.php
  webpack.mix.js
Due: js-cs, sass-cs, php-cs, phpunit

Fix media list on IE
  resources/views/randomForm.blade.php
Due: php-cs, phpunit

Rework translation system
  composer.json
  composer.lock
  config/vue-i18n-generator.php
  package-lock.json
  package.json
  public/css/randomForm.css
  public/js/dearSanta.js
  public/js/organizer.js
  public/js/randomForm.js
  public/js/vendor.js
  resources/js/components/ajaxForm.vue
  resources/js/components/csv.vue
  resources/js/components/dearSantaForm.vue
  resources/js/components/error.vue
  resources/js/components/fetcher.vue
  resources/js/components/modal.vue
  resources/js/components/organizerForm.vue
  resources/js/components/participant.vue
  resources/js/components/randomForm.vue
  resources/js/dearSanta.js
  resources/js/organizer.js
  resources/js/partials/lang.js
  resources/js/partials/messages.js
  resources/js/partials/store.js
  resources/js/randomForm.js
  resources/js/smsTools.js
  resources/js/vue-i18n-locales.generated.js
  resources/lang/fr/common.php
  resources/lang/fr/csv.php
  resources/lang/fr/dearsanta.php
  resources/lang/fr/form.php
  resources/sass/randomForm.scss
Due: js-cs, sass-cs, php-cs, phpunit

Replace Vuex with raw store
  package-lock.json
  package.json
  public/js/dearSanta.js
  public/js/organizer.js
  public/js/randomForm.js
  public/js/vendor.js
  resources/js/components/ajaxForm.vue
  resources/js/components/csv.vue
  resources/js/components/dearSantaForm.vue
  resources/js/components/fetcher.vue
  resources/js/components/inputEdit.vue
  resources/js/components/organizerForm.vue
  resources/js/mixins/vueFetcher.js
  resources/js/partials/store.js
  resources/js/randomForm.js
Due: js-cs

Same errors for client and server validation
  config/vue-i18n-generator.php
  public/js/randomForm.js
  public/js/vendor.js
  resources/js/components/ajaxForm.vue
  resources/js/components/participant.vue
  resources/js/components/randomForm.vue
  resources/js/vue-i18n-locales.generated.js
  resources/lang/fr/form.php
  resources/lang/fr/validation.php
Due: js-cs, php-cs, phpunit

Add custom messages for request validation
  app/Http/Requests/DearSantaRequest.php
  app/Http/Requests/OrganizerChangeEmailRequest.php
  app/Http/Requests/RandomFormRequest.php
  public/js/randomForm.js
  public/js/vendor.js
  resources/js/components/participant.vue
  resources/js/components/randomForm.vue
  resources/js/vue-i18n-locales.generated.js
  resources/lang/fr/validation.php
Due: js-cs, php-cs, phpunit

Add vuelidate for dearsanta and organizer (and validate before sending)
  public/js/dearSanta.js
  public/js/organizer.js
  public/js/randomForm.js
  public/js/vendor.js
  resources/js/components/ajaxForm.vue
  resources/js/components/dearSantaForm.vue
  resources/js/components/fetcher.vue
  resources/js/components/inputEdit.vue
  resources/js/components/organizerForm.vue
  resources/js/components/participant.vue
  resources/js/components/randomForm.vue
Due: js-cs

Add console to fix organizer + simplify mail send + translate mail state
  app/Console/Commands/FixOrganizer.php
  app/Console/Commands/SendMailCommand.php
  app/Events/DrawDone.php
  app/Http/Controllers/OrganizerController.php
  app/Jobs/SendMail.php
  app/Listeners/ContactOrganizer.php
  app/Listeners/ContactParticipants.php
  app/Mail/OrganizerFinalRecap.php
  app/Participant.php
  app/Services/DrawHandler.php
  public/js/dearSanta.js
  public/js/organizer.js
  public/js/vendor.js
  resources/js/components/dearSantaForm.vue
  resources/js/components/organizerForm.vue
  resources/js/vue-i18n-locales.generated.js
  resources/lang/fr/common.php
  tests/Feature/RequestDearSantaTest.php
  tests/Feature/RequestOrganizerTest.php
  tests/TestCase.php
  tests/Unit/DrawHandlerTest.php
Due: js-cs, php-cs, phpunit

Fix tests
  app/Services/DrawHandler.php
  database/factories/ParticipantFactory.php
  database/migrations/2018_12_12_223023_create_participants_table.php
Due: php-cs, phpunit

Update dependencies
  composer.lock
Due: none
