Repository Korko/SecretSanta.fr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: js-cs, sass-cs, php-cs, phpunit

js-cs:
  stage: test
  cache: {}
  script:
  - ./node_modules/.bin/eslint resources/js/
  allow_failure: true

sass-cs:
  stage: test
  cache: {}
  script:
  - ./node_modules/.bin/sass-lint resources/sass/
  allow_failure: true

php-cs:
  before_script:
  - apk add --no-cache imap-dev krb5-dev openssl-dev
  - PHP_OPENSSL=yes docker-php-ext-configure imap --with-kerberos --with-imap-ssl
  - docker-php-ext-install imap
  - composer install --prefer-dist --no-ansi --no-interaction --no-progress --no-scripts
  stage: test
  script:
  ...

phpunit:
  before_script:
  - apk add --no-cache imap-dev krb5-dev openssl-dev
  - PHP_OPENSSL=yes docker-php-ext-configure imap --with-kerberos --with-imap-ssl
  - docker-php-ext-install imap
  - composer install --prefer-dist --no-ansi --no-interaction --no-progress --no-scripts
  stage: test
  script:
  ...

Npm install
  .gitlab-ci.yml
Due: none

Allow risky
  .gitlab-ci.yml
Due: none

Fix tests
  app/Jobs/SendMail.php
  tests/Feature/RequestDearSantaTest.php
  tests/Feature/RequestOrganizerTest.php
  tests/Feature/RequestTest.php
Due: php-cs, phpunit

CS
  app/Participant.php
  tests/Feature/RequestDearSantaTest.php
  tests/Feature/RequestOrganizerTest.php
  tests/Feature/RequestTest.php
Due: php-cs, phpunit

CS fixer diff display
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update composer.json
  composer.json
Due: none

Call phpunit throw artisan
  .gitlab-ci.yml
Due: none

Remove bounced mail once handled
  app/Jobs/ParseBounces.php
Due: php-cs, phpunit

Fix CSV modal
  public/js/randomForm.js
  resources/js/components/csv.vue
  resources/views/randomForm.blade.php
Due: js-cs, php-cs, phpunit

Composer
  composer.lock
Due: none

Events
  app/Events/DrawDone.php
  app/Http/Controllers/RandomFormController.php
  app/Listeners/ContactOrganizer.php
  app/Listeners/ContactParticipants.php
  app/Providers/EventServiceProvider.php
  app/Services/DrawHandler.php
  composer.json
  config/app.php
  config/broadcasting.php
  config/queue.php
  config/services.php
  tests/Feature/RequestTest.php
  tests/Unit/DrawHandlerTest.php
  tests/bootstrap.php
Due: php-cs, phpunit

Ignore test database
  .gitignore
Due: none

Remote test database
  database/tests.sqlite
Due: none

Exclusions in CSV import
  public/js/randomForm.js
  public/js/vendor.js
  resources/js/components/csv.vue
  resources/js/randomForm.js
  resources/lang/fr/form.php
  resources/views/randomForm.blade.php
  resources/views/templates/participant.blade.php
Due: js-cs, php-cs, phpunit

Factories, Notifications
  app/Console/Kernel.php
  app/DearSanta.php
  app/Draw.php
  app/Mail.php
  app/Notifications/DrawCreated.php
  app/Notifications/TargetDrawn.php
  app/Participant.php
  app/Services/DrawHandler.php
  config/database.php
  database/factories/DearSantaFactory.php
  database/factories/DrawFactory.php
  database/factories/MailFactory.php
  database/factories/ParticipantFactory.php
  tests/Feature/RequestOrganizerTest.php
  tests/TestCase.php
  tests/Unit/DrawHandlerTest.php
Due: php-cs, phpunit

Change Paypal integration to prevent cookie
  config/paypal.php
  public/images/paypal.gif
  resources/img/paypal.gif
  resources/views/partials/paypalButton.blade.php
Due: php-cs, phpunit

Fix OrganizerRecap date format
  app/Mail/OrganizerRecap.php
Due: php-cs, phpunit

Code format JS/CSS
  .eslintrc.js
  .gitlab-ci.yml
  .stylelintrc.json
  app/Listeners/ContactOrganizer.php
  app/Notifications/DrawCreated.php
  app/Notifications/TargetDrawn.php
  database/factories/MailFactory.php
  package-lock.json
  package.json
  public/js/common.js
  public/js/dearSanta.js
  public/js/organizer.js
  public/js/randomForm.js
  public/js/vendor.js
  resources/js/bootstrap.js
  resources/js/common.js
  resources/js/components/ajaxForm.vue
  resources/js/components/csv.vue
  resources/js/components/dearSantaForm.vue
  resources/js/components/error.vue
  resources/js/components/fetcher.vue
  resources/js/components/form.vue
  resources/js/components/inputEdit.vue
  resources/js/components/modal.vue
  resources/js/components/organizerForm.vue
  resources/js/components/participant.vue
  resources/js/components/randomForm.vue
  resources/js/components/timer.vue
  resources/js/decrypterVue.js
  resources/js/partials/modernizr.js
  resources/js/partials/store.js
  resources/js/randomForm.js
  resources/js/smsTools.js
  resources/views/randomForm.blade.php
  resources/views/templates/participant.blade.php
  tests/TestCase.php
  tests/Unit/DrawHandlerTest.php
  webpack.mix.js
Due: js-cs, php-cs, phpunit

Coding style css/js
  .eslintrc.js
  .stylelintrc.json
  package.json
  public/css/dearSanta.css
  public/css/organizer.css
  public/css/randomForm.css
  public/js/randomForm.js
  public/js/vendor.js
  resources/js/bootstrap.js
  resources/js/common.js
  resources/js/components/ajaxForm.vue
  resources/js/components/csv.vue
  resources/js/components/dearSantaForm.vue
  resources/js/components/fetcher.vue
  resources/js/components/inputEdit.vue
  resources/js/components/modal.vue
  resources/js/components/organizerForm.vue
  resources/js/components/participant.vue
  resources/js/components/randomForm.vue
  resources/js/decrypterVue.js
  resources/js/mixins/stateMachine.js
  resources/js/partials/store.js
  resources/sass/_variables.scss
  resources/sass/layout.scss
  resources/sass/randomForm.scss
  resources/vendor/bootstrap-languages/languages.css
  resources/views/vendor/mail/html/themes/default.css
Due: js-cs, sass-cs

Path conditions:
  js-cs: any of: resources/js/**/*
  sass-cs: any of: resources/sass/**/*
  php-cs: any of: **/*.php
  phpunit: any of: **/*.php
