Repository Korko/SecretSanta.fr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: js-cs, sass-cs, php-cs, phpunit

.gitlab-ci.yml:

image: lorisleiva/laravel-docker:latest

.before_script_npm:
  before_script:
    - npm install

js-cs:
  extends: .before_script_npm
  stage: test
  script:
    - npm run lint:js
  rules:
    - changes:
      - "resources/js/**/*"
  allow_failure: true

sass-cs:
  extends: .before_script_npm
  stage: test
  script:
    - npm run lint:css
  rules:
    - changes:
      - "resources/sass/**/*"
  allow_failure: true

.before_script_composer:
  rules:
    - changes:
      - "**/*.php"
  before_script:
    - apk add --no-cache imap-dev krb5-dev openssl-dev
    - PHP_OPENSSL=yes docker-php-ext-configure imap --with-kerberos --with-imap-ssl
    - docker-php-ext-install imap
    - composer install --prefer-dist --no-ansi --no-interaction --no-progress --no-scripts

php-cs:
  extends: .before_script_composer
  stage: test
  script:
    - composer check-style
  allow_failure: true

phpunit:
  extends: .before_script_composer
  stage: test
  script:
    - cp .env.example .env
    - php artisan key:generate
    - php artisan test

Start FAQ
  app/Http/Controllers/RandomFormController.php
  public/css/faq.css
  public/css/organizer.css
  public/css/randomForm.css
  public/js/common.js
  public/js/faq.js
  public/js/organizer.js
  public/js/randomForm.js
  public/mix-manifest.json
  resources/js/common.js
  resources/js/components/faq.vue
  resources/js/components/randomForm.vue
  resources/js/faq.js
  resources/lang/fr/faq.php
  resources/lang/fr/form.php
  resources/sass/faq.scss
  resources/sass/layout.scss
  resources/sass/randomForm.scss
  resources/views/faq.blade.php
  resources/views/randomForm.blade.php
  resources/views/templates/layout.blade.php
  routes/web.php
  webpack.mix.js
Due: js-cs, sass-cs, php-cs, phpunit

Improve FAQ to add categories
  app/Http/Controllers/RandomFormController.php
  config/vue-i18n-generator.php
  public/js/common.js
  public/js/faq.js
  public/js/vendor.js
  resources/js/common.js
  resources/js/components/faq.vue
  resources/js/faq.js
  resources/js/vue-i18n-locales.generated.js
  resources/lang/fr/faq.php
Due: js-cs, php-cs, phpunit

PHP CS
  app/Console/Commands/FixOrganizer.php
  app/Http/Controllers/RandomFormController.php
  app/Http/Requests/RandomFormRequest.php
  app/Mail/Mailable.php
  app/Services/DrawHandler.php
  config/vue-i18n-generator.php
Due: php-cs, phpunit

Fix CS and remove them from CI, too much noise
  .eslintrc.js
  .gitlab-ci.yml
  public/css/randomForm.css
  public/js/dearSanta.js
  public/js/faq.js
  public/js/organizer.js
  public/js/randomForm.js
  public/js/vendor.js
  resources/js/components/ajaxForm.vue
  resources/js/components/dearSantaForm.vue
  resources/js/components/faq.vue
  resources/js/components/inputEdit.vue
  resources/js/components/organizerForm.vue
  resources/js/components/participant.vue
  resources/js/components/randomForm.vue
  resources/js/components/timer.vue
  resources/sass/faq.scss
  resources/sass/randomForm.scss
Due: js-cs, sass-cs

Fix gitlab ci
  .gitlab-ci.yml
Due: none

More Laravel way
  app/Console/Commands/FixOrganizer.php
  app/Draw.php
Due: php-cs, phpunit

Improve FAQ
  public/js/vendor.js
  resources/js/vue-i18n-locales.generated.js
  resources/lang/fr/faq.php
Due: js-cs, php-cs, phpunit

Fix dearsanta and organizerform fetchState
  app/Http/Middleware/HandleEncryptionKey.php
  public/js/dearSanta.js
  public/js/organizer.js
  resources/js/components/dearSantaForm.vue
  resources/js/components/organizerForm.vue
  resources/lang/fr/faq.php
  routes/web.php
Due: js-cs, php-cs, phpunit

Allow ParseBounces to fail and if so, just ignore the mail
  app/Jobs/ParseBounces.php
Due: php-cs, phpunit

Remove deprecated repositories
  composer.json
Due: none

Remove Laravel CHANGELOG
  CHANGELOG.md
Due: none

Hash Organizer draw id and move hash to model
  app/Console/Commands/FixOrganizer.php
  app/Draw.php
  app/HashId.php
  app/Http/Controllers/DearSantaController.php
  app/Http/Controllers/OrganizerController.php
  app/Http/Middleware/Unhash.php
  app/Jobs/ParseBounces.php
  app/Mail.php
  app/Mail/OrganizerRecap.php
  app/Mail/TargetDrawn.php
  app/Mail/TrackedMailable.php
  app/Participant.php
  app/Providers/RouteServiceProvider.php
  config/hashids.php
  routes/web.php
Due: php-cs, phpunit

Fix tests
  routes/web.php
  tests/Feature/RequestOrganizerTest.php
  tests/Unit/DrawHandlerTest.php
Due: php-cs, phpunit

Syntax and Coding Style
  app/HashId.php
  app/Jobs/ParseBounces.php
  resources/lang/fr/faq.php
Due: php-cs, phpunit

Update composer
  composer.json
  composer.lock
Due: none

Hash draw id and participant in organizer panel
  app/Draw.php
  app/HashId.php
  app/Http/Controllers/DearSantaController.php
  app/Mail/TargetDrawn.php
  app/Participant.php
  app/Providers/RouteServiceProvider.php
  resources/views/dearSanta.blade.php
  routes/web.php
  tests/Feature/RequestDearSantaTest.php
  tests/Feature/RequestOrganizerTest.php
Due: php-cs, phpunit

Add route to delete draw
  app/Http/Controllers/OrganizerController.php
  resources/lang/fr/organizer.php
  routes/web.php
Due: php-cs, phpunit

Fix dearsanta interface
  app/Http/Controllers/DearSantaController.php
  public/js/dearSanta.js
  resources/js/components/dearSantaForm.vue
Due: js-cs, php-cs, phpunit

Ensure key is valid when given
  app/Http/Middleware/HandleEncryptionKey.php
  public/js/dearSanta.js
  public/js/organizer.js
  resources/js/components/dearSantaForm.vue
  resources/js/components/organizerForm.vue
  routes/web.php
Due: js-cs, php-cs, phpunit

Wait for 3 days after expiration before removing
  app/Draw.php
Due: php-cs, phpunit
